    <!-- add bootstrap navbar inside here -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <!-- add container for the navbar as well -->
  <div class="container">
    <div class="container-fluid">
    <a class="navbar-brand">NoteApp</a>
    <button 
    class="navbar-toggler" 
    type="button" 
    data-bs-toggle="collapse" 
    data-bs-target="#navbarSupportedContent" 
    aria-controls="navbarSupportedContent" 
    aria-expanded="false" 
    aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent" >
      <ul class="navbar-nav me-auto mb2 mb-lg-0">
        <li class="nav-item">
            <!-- remove action class, change home route to / -->
          <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item">
            <!-- modify to about -->
          <a class="nav-link" href="/about">About</a>
        </li>
        </ul>
        <!-- add new UL on the right -->
        <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown">
          <a href="#" class="nav-link dropdown-toggle" id="navbarDropdownMenulink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Notes
          </a>
          <!-- add selection links -->
          <div class="dropdown-menu">
            <a href="/ideas" class="dropdown-item">Notes</a>
            <a href="/ideas/add" class="dropdown-item">Add Notes</a>
          </div>
        </li>
      </ul>
    </div>
  </div>
  </div>
</nav>